*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    
}
.logo{
    display: flex;
  

}
.i
{
    display: flex;
    margin-top: 35px;
    margin-left: 10px;
    gap: 15px;
}


.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: black;
    margin-top: 20px;
}
.menu{
    width: 400px;;
    float: left;
    height: 50px;
}

ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
    text-decoration: none;
    color: white;
    
}
.img{
    
    
    background-image: url("https://nurimetin.github.io/eliteshoppy.github.io/images/banner1.jpg");
  
    color: white;
    text-align: center;
    padding: 200px;
    
    

}
.pic
{
    display: flex;
    
}
.box
{
    display: flex;
    height: 300px;
    width: 600px;
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom1.jpg");
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border1
{
    border: 5px solid white;
    height: 250px;
    width:  530px;
    transition: 1s;
    opacity: 0;
}
.box:hover .border1{
    opacity: 1;
    transform: translate(20px);
}

.box:hover{
    background-position: 20px;
}

.box1
{
   
    height: 300px;
    width: 600px;
    background-image: url('https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom2.jpg');
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border
{
    border: 5px solid white;
    height: 250px;
    width:  530px;
    transition: 1s;
    opacity: 0;
}
.box1:hover .border{
    opacity: 1;
    transform: translate(20px);
}

.box1:hover{
    background-position: 20px;
}

.main
{
    display: flex;
}

.green {
    background-color: rgb(39,228,165);
    padding-top: 50px;
    padding-bottom: 40px;
    width: 100%;
}
.main .green .right1
{
    background-color: azure;
    margin-top: 80px;
    padding: 10px;
}
.i1
{
    display: flex;
    margin-left: 160px;
    margin-top: 50px;
    gap: 120px;
    font-size: 30px;
}





.pic1
{
    display: flex;
    
}
.box2
{
   
    height: 600px;
    width: 400px;
    background-image: url("https://nurimetin.github.io/eliteshoppy.github.io/images/bb1.jpg");
    background-size: 100% 100%;
    margin: 100px;
    padding: 20px;
    transition: 1s;
    margin-left: 250px;
}
.border2
{
    border: 5px solid white;
    height: 550px;
    width:  330px;
    transition: 1s;
    opacity: 0;
}
.box2:hover .border2{
    opacity: 1;
    transform: translate(20px);
}

.box2:hover{
    background-position: 20px;
}







.box3
{
    display: flex;
    height: 250px;
    width: 550px;

    background-image:url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom3.jpg") ;
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border3
{
    border: 5px solid white;
    height: 200px;
    width:  480px;
    transition: 1s;
    opacity: 0;
}
.box3:hover .border3{
    opacity: 1;
    transform: translate(20px);
}

.box3:hover{
    background-position: 20px;
}





.box4
{
    display: flex;
    height: 250px;
    width: 550px;

    background-image:url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bottom4.jpg") ;
    background-size: 100% 100%;
    margin: 100px auto;
    padding: 20px;
    transition: 1s;
}
.border4
{
    border: 5px solid white;
    height: 200px;
    width:  480px;
    transition: 1s;
    opacity: 0;
}
.box4:hover .border4{
    opacity: 1;
    transform: translate(20px);
}

.box4:hover{
    background-position: 20px;
}




.main1
{
    display: flex;
}

.left2
{
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 800px;
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bot_1.jpg");
}
.o1{
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.195);
}
.left2:hover>.o1{
    transition: all 0.5s ease;
    top: 0;
    left: 0;
}
.o2{
     height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 100%;
    background-color: rgba(0, 0, 0, 0.195);
}
.left2:hover>.o2{
    transition: all 0.5s ease;
    top: 0;
    right: 0;
}




.right2
{
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 800px;
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/bot_2.jpg");
}
.o3{
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.195);
}
.right2:hover>.o3{
    transition: all 0.5s ease;
    top: 0;
    left: 0;
}
.o4{
     height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 100%;
    background-color: rgba(0, 0, 0, 0.195);
}
.right2:hover>.o4{
    transition: all 0.5s ease;
    top: 0;
    right: 0;
}

.pic2
{
    background-image: url("https://nurimetin.github.io/eliteshoppy.github.io/images/banner3.jpg");
    height: 450px;
    width: 1520px;
    background-attachment: fixed;
}

        .rows
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            
        
        }
        .col
        {
            box-shadow: 3px 3px 10px lightblue;
            padding: 20px;
            text-align: center;
            width: 275px;
            line-height: 30px;
            font-size: 18px;
            
        }


        .col:hover .s1
        {
            transform: rotateY(180deg);
        
        }
        .s1{
            transition: 1s;
        }
        .col{
            position: relative;
        }

        .p
        {
            position: absolute;
            width: 100%;
            background-color: black;
            color: white;
            left: 0;
            padding: 5px;
            opacity: 0;
            transition: 1s;
            z-index: 1;
        }

        .col:hover .p{
            margin-top: 230px;
            opacity: 1;
            transition: 1s;
        }

.main2
{
    display: flex;
    gap: 150px;
    margin-left: 150px;
}



.w{
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
 }



footer
{
    background-color: black;
    color: white;
    padding:60px;
   
    
}

.footer
{
     display: flex;
    gap: 100px;
}
.footer1
{
    line-height: 1.8;
    margin-left: 20px;
}



.icon
{
    font-size: 25px;
}

.footer2
{
    list-style: none;
   
}
.footer2 a{
    text-decoration: none;
    color:rgb(111, 110, 110);
  
  
}
.footer2 li{
    margin-top: 18px;
}


.i2{
    margin-top: 30px;
    display: flex;
    margin-left: 20px;
}

.footer4
{
    display: flex;
    margin-top: 80px;
}


